<header>
    <h3>Asset Group</h3>
</header>

<table>
  <tr>
    <th>Display Name</th>
    <td>{{assetGroup.displayName}}</td>
  </tr>
  <tr>
    <th>Description</th>
    <td>{{assetGroup.description}}</td>
  </tr>
  <tr>
    <th>Created By</th>
    <td>{{assetGroup.createdBy}}</td>
  </tr>
  <tr>
    <th>Created On</th>
    <td>{{assetGroup.createdOn | date}}</td>
  </tr>
  <tr>
    <th>Group Definition</th>
    <td>{{assetGroup.groupDefinition}}</td>
  </tr>
</table>

<h3>Assets:</h3>

<table>
  <tr>
    <th><a href="" data-ng-click="order = 'id'; reverse=!reverse">ID</a></th>
    <th><a href="" data-ng-click="order = 'displayName'; reverse=!reverse">Display Name</a></th>
    <th><a href="" data-ng-click="order = 'dnsDomain'; reverse=!reverse">DNS Domain</a></th>
  </tr>
  <tr data-ng-repeat="asset in assets | filter:searchText:strict | orderBy:order:reverse">
    <td>{{asset.id}}</td>
    <td><a href="#assets/{{asset.id}}">{{asset.displayName}}</a></td>
    <td>{{asset.dnsDomain}}</td>
  </tr>
  <tr>
    <td><input data-ng-model="searchText.id" placeholder="ID Search"></td>
    <td><input data-ng-model="searchText.displayName" placeholder="Display name search"></td>
    <td><input data-ng-model="searchText.dnsDomain" placeholder="DNS domain search"></td>
  </tr>
</table>
