<header>
    <h3>Assets</h3>
</header>
<table>
  <tr>
    <th><a href="" data-ng-click="order = 'id'; reverse=!reverse">ID</a></th>
    <th><a href="" data-ng-click="order = 'displayName'; reverse=!reverse">Display Name</a></th>
    <th><a href="" data-ng-click="order = 'dnsDomain'; reverse=!reverse">DNS Domain</a></th>
  </tr>
  <tr data-ng-repeat="asset in assets | filter:searchText:strict | orderBy:order:reverse">
    <td>{{asset.id}}</td>
    <td><a href="#assets/{{asset.id}}">{{asset.displayName}}</a></td>
    <td>{{asset.dnsDomain}}</td>
  </tr>
  <tr>
    <td><input data-ng-model="searchText.id" placeholder="ID Search"></td>
    <td><input data-ng-model="searchText.displayName" placeholder="Display name search"></td>
    <td><input data-ng-model="searchText.dnsDomain" placeholder="DNS domain search"></td>
  </tr>
</table>
