<header>
    <h3>Login Page</h3>
</header>
<form method="post" data-ng-submit="login()">
    <table>
        <tr>
            <th><label for="host">Host</label></th>
            <td><input id="host" required="required" placeholder="Enter host" data-ng-model="host" /></td>
        </tr>
        <tr>
            <th><label for="port">Port</label></th>
            <td><input id="port" required="required" placeholder="Enter Port" data-ng-model="port" type="number" /></td>
        </tr>
        <tr>
            <th><label for="username">User</label></th>
            <td><input id="username" required="required" placeholder="Enter User Name" data-ng-model="username" /></td>
        </tr>
        <tr>
            <th><label for="password">Password</label></th>
            <td><input id="password" required="required" placeholder="Enter Password" type="password" data-ng-model="password" /></td>
        </tr>
        <tr>
            <td></td>
            <th><input type="submit" value="login" /></th>
        </tr>
    </table>
</form>
