<header>
    <h3>Platform</h3>
</header>
<table>
  <tr>
    <th><a href="" data-ng-click="order = 'id'; reverse=!reverse">ID</a></th>
    <th><a href="" data-ng-click="order = 'displayName'; reverse=!reverse">Display Name</a></th>
    <th><a href="" data-ng-click="order = 'count'; reverse=!reverse">Count</a></th>
    <th><a href="" data-ng-click="order = 'platformId'; reverse=!reverse">Platform ID</a></th>
  </tr>
  <tr data-ng-repeat="container in platform | filter:searchText:strict | orderBy:order:reverse">
    <td>{{container.id}}</td>
    <td><a href="#platforms/{{container.platformId}}/containers/{{container.id}}">{{container.displayName}}</a></td>
    <td>{{container.count}}</td>
    <td>{{container.platformId}}</td>
  </tr>
  <tr>
    <td><input data-ng-model="searchText.id" placeholder="ID Search"></td>
    <td><input data-ng-model="searchText.displayName" placeholder="Display Name search"></td>
    <td><input data-ng-model="searchText.count" placeholder="Count search"></td>
    <td><input data-ng-model="searchText.platformId" placeholder="Platform ID search"></td>
  </tr>
</table>
