<!DOCTYPE html>
<html data-ng-app="loginModule">
    <head>
        <title>Login page</title>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.css" />
        <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script></head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
        <script type="text/javascript">
        var loginModule = angular.module("loginModule", [])
            .controller("loginController", ["$scope", "$rootScope", "$http", loginController]);
        function loginController($scope, $rootScope, $http) {
            $scope.login = function() {
                $scope.url = "https://" + $scope.host + ":" + $scope.port + "/SentinelAuthServices/auth/tokens";
                $scope.credential = window.btoa($scope.username + ":" + $scope.password);
                if ($scope.url.lastIndexOf(window.location.origin, 0) !== 0) {
                    $scope.url = "/ProxyServlet?url=" + $scope.url;
                }
                $http({
                    url: $scope.url,
                    method: "POST",
                    headers: {
                        'Authorization': 'Basic ' + $scope.credential
                    }
                }).success(function(data, status, headers, config) {
                    $rootScope.Token = data.Token;
                    $rootScope.TokenDigest = data.TokenDigest;
                    $http.defaults.headers.common.Authorization = "X-SAML " + data.Token;
                    window.location = "/index.html";
                }).error(function(data, status, headers, config) {
                    $rootScope.Token = null;
                    $rootScope.TokenDigest = null;
                });
            };
        };
    </script>
    <body data-ng-controller="loginController">

        <header data-role="header" data-theme="b">
            <a id="left" href="#menu" data-icon="bars" data-iconpos="notext">Menu</a>
            <h1>Login page</h1>
            <a id="right" href="/" data-icon="home" data-iconpos="notext">Home</a>
        </header>
        <article data-role="content" data-theme="b">
            <form method="post" data-ng-submit="login()">
                <table>
                    <tr>
                        <th><label for="host">Host</label></th>
                        <td><input id="host" name="host" required="required" placeholder="Enter host" type="text" data-ng-model="host" /></td>
                    </tr>
                    <tr>
                        <th><label for="port">Port</label></th>
                        <td><input id="port" name="port" required="required" placeholder="Enter Port" type="number" data-ng-model="port" /></td>
                    </tr>
                    <tr>
                        <th><label for="username">User Name</label></th>
                        <td><input id="username" name="username" required="required" placeholder="Enter UserName" type="text" data-ng-model="username" /></td>
                    </tr>
                    <tr>
                        <th><label for="password">Password</label></th>
                        <td><input id="password" name="password" required="required" placeholder="Enter Password" type="password" data-ng-model="password" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <th><input type="submit" value="login" /></th>
                    </tr>
                </table>
            </form>
            Token: {{Token}}<br/>
            TokenDigest: {{TokenDigest}}
        </article>
        <footer style="text-align: center;" data-role="footer" data-theme="b">
            Copyright &copy; NetIQ
        </footer>
    </body>
</html>
